<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-tagsinput.css">
    <style type="text/css">
        .bootstrap-tagsinput {
            width: 100%;
        }
        legend {
            font-size: 100%;
            margin-bottom: 5px;
            font-weight: 700;
            border-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div>
            <h1>Places to try</h1>
            <form name="mturk_form" id="mturk_form" method="post" action="https://www.mturk.com/mturk/externalSubmit">
            <input type="hidden" name="assignmentId" id="assignmentId">
            <input type="hidden" name="start_ts">
            {{#documents}}
            <div>
                <input type="hidden" name="doc{{ id }}_rating_ts">
                <input type="hidden" name="doc{{ id }}_tags_ts">
                <h2><a href="{{ url }}" target="_blank">{{ title }}</a></h2>
                <p>{{ description }}</p>
                <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
                <fieldset>
                <legend>Rating</legend>
                <div class="btn-group form-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" value="1" name="doc{{ id }}_rating"> 1
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="2" name="doc{{ id }}_rating"> 2
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="3" name="doc{{ id }}_rating"> 3
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="4" name="doc{{ id }}_rating"> 4
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="5" name="doc{{ id }}_rating"> 5
                    </label>
                </div>
                </fieldset>
                <div class="form-group">
                    <label for="doc{{ id }}_tags">Tags <a href="" data-toggle="modal" data-target="#tagsHelp">[?]</a></label>
                    <select multiple name="doc{{ id }}_tags" id="doc{{ id }}_tags" class="typeahead from-control"></select>
                </div>
            </div>
            {{/documents}}
            <input type="submit" value="Submit" class="btn btn-default">
            </form>
        </div>
        <div class="modal" id="tagsHelp" tabindex="-1" role="dialog" aria-labelledby="tagsHelpLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="tagsHelpLabel">Tags</h4>
                    </div>
                    <div class="modal-body">
                        <p>Add any of the following tags for reasons you like this attraction.</p>
                        <ul>
                        {{#tags}}
                        <li>{{ . }}</li>
                        {{/tags}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-tagsinput.min.js"></script>
    <script src="js/bootstrap3-typeahead.min.js"></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
    <script>
        $(".typeahead").tagsinput({
            typeahead: {
                minLength: 0,
                showHintOnFocus: true,
                displayText: function(item) {
                    return item;
                },
                source: {{{raw_tags}}}
            },
            freeInput: false
        });
    </script>
    <script>
        $(function(){
            $('input[name=start_ts]').val((new Date()).toUTCString());
            $('input, select').change(function() {
                $('input[name=' + $(this).attr('name') + '_ts]').val((new Date()).toUTCString());
            })
        })
    </script>
    <script>turkSetAssignmentID();</script>
</body>
</html>
